/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --white-text: rgb(255,255,255,1);
  --black-text: rgb(33,33,33,1);
  --grey-text: rgb(117,117,117,1);
  --grey-text-op60: rgb(255,255,255,0.6);
  --light-grey: rgb(175,177,184,1);
  --back-light-black: rgb(47,48,58,1);
  --back-light-black-op80: rgba(47, 48, 58, 0.8);
  --back-light-grey: rgb(245,244,250,1);
  --back-blue: rgb(33,150,243,1);
  --back-light-grey-op10: rgb(255,255,255,0.1);
  --border-light-grey: rgb(236, 236, 236, 1);
  --border-light-grey2: rgb(238, 238, 238, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: var(--back-light-black);
  height: 252px;
  padding: 60px 0;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__address-link {
  margin-right: 70px;
}

.footer--logo-white {
  font-family: 'Raleway', sans-serif;
  color: var(--white-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer--logo-blue {
  color: var(--back-blue);
}

.footer__link {
  margin-top: 20px;
}

.footer__contacts-item:not(:first-child) {
  margin-top: 9px;
}

.footer__contacts-link--white {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.footer__contacts-link--white:hover, .footer__contacts-link--white:focus {
  color: var(--back-blue);
}

.footer__contacts-link {
  color: var(--grey-text-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: var(--back-blue);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--white-text);
  border-bottom: 1px solid var(--border-light-grey);
}

.header__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header__contact-item:not(:last-child) {
  margin-right: 30px;
}

.header__contact-link {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.header__contact-link:hover, .header__contact-link:focus {
  color: var(--back-blue);
}

.header__contact-icon {
  margin-right: 10px;
}

.about-us__title,
.team__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio {
  padding: 94px 15px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:first-child) {
  margin-left: 8px;
}

.filters__button {
  background: var(--back-light-grey);
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.filters__button:hover, .filters__button:focus {
  background: var(--back-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project__item:hover, .project__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__content {
  padding: 20px 24px;
  border-right: 1px solid var(--border-light-grey2);
  border-bottom: 1px solid var(--border-light-grey2);
  border-left: 1px solid var(--border-light-grey2);
}

.project__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__type {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.about-us {
  padding-bottom: 94px;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.about-us__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.about-us__thumb {
  position: relative;
  overflow: hidden;
}

.about-us__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 27px;
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--back-light-black-op80);
}

.advantages {
  padding: 94px 0;
}

.advantages__list {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantager__icons {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--back-light-grey);
}

.advantages__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__description {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.call-back__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.call-back__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-text);
}

.call-back__label:not(:first-of-type) {
  margin-top: 10px;
}

.call-back__label:first-of-type {
  margin-top: 12px;
}

.call-back__container {
  display: block;
  position: relative;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.call-back__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
}

.call-back__input + svg {
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.call-back__input:focus-within + svg,
.call-back__input:hover + svg {
  fill: var(--back-blue);
}

.call-back__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.call-back__textarea {
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
}

.call-back__textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.call-back__input,
.call-back__textarea {
  width: 100%;
  resize: none;
  border: 1px solid;
  border-radius: 4px;
  outline: none;
  border-color: rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}

.call-back__container > input:focus-within,
.call-back__textarea:focus-within,
.call-back__container > input:hover,
.call-back__textarea:hover {
  border-color: var(--back-blue);
}

.call-back__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

.call-back__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.call-back__checkbox-border {
  display: block;
  margin-right: 7px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.call-back--terms {
  color: var(--back-blue);
  text-decoration: underline;
}

.call-back__submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 55px 10px 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--back-blue);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.call-back__submit:hover, .call-back__submit:focus {
  background-color: #188ce8;
}

.call-back__checkbox:checked + .call-back__checkbox-border {
  border-radius: 2px;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--back-blue);
  fill: var(--back-blue);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.customers__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  fill: var(--light-grey);
  border: 1px solid var(--light-grey);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
  transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.customers__link:hover, .customers__link:focus {
  fill: var(--back-blue);
  border: 1px solid var(--back-blue);
}

.hero {
  background: var(--back-light-black);
  color: var(--white-text);
  width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  text-align: center;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
  height: 600px;
  width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: 0 auto;
  text-transform: uppercase;
}

.hero__button {
  background: var(--back-blue);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--white-text);
  color: var(--back-blue);
}

.join {
  display: block;
  margin-right: 93px;
}

.join__title {
  font-weight: 700;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-right: -10px;
}

.join__item {
  margin-right: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--white-text);
  background-color: var(--back-light-grey-op10);
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.join__link:hover, .join__link:focus {
  background-color: var(--back-blue);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  background-color: var(--white-text);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.modal__btn:hover, .modal__btn:focus {
  fill: var(--back-blue);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-text);
}

.header--logo-blue {
  color: var(--back-blue);
}

.header__button {
  border: none;
  background-color: var(--white-text);
}

.header__menu {
  margin-left: auto;
  color: var --black-text;
}

.header__menu:hover, .header__menu:focus {
  fill: var(--back-blue);
}

@media (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.nav__link {
  position: relative;
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.nav--current:visited {
  color: var(--back-blue);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--back-blue);
}

.nav__link::after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: translateY(29.5px);
          transform: translateY(29.5px);
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
  background-color: var(--back-blue);
  border-radius: 2px;
  opacity: 0;
}

.nav--current.nav__link::after {
  opacity: 1;
}

.nav__link-black:hover.nav__link::after {
  opacity: 1;
}

.project-list__overlay {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.project-list__text {
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: var(--white-text);
}

.project__link:focus .project-list__overlay,
.project__link:hover .project-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.project__link:focus, .project__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe-form__label {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);
}

.subscribe-form__input {
  display: block;
  width: 358px;
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--grey-text-op60);
  background-color: var(--back-light-black);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
}

.subscribe-form__input:focus, .subscribe-form__input:hover {
  border: 1px solid var(--back-blue);
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--back-blue);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form__btn:focus, .subscribe-form__btn:hover {
  background-color: var(--white-text);
  color: var(--back-blue);
}

.subscribe-form__icon {
  margin-left: 10px;
}

/* Team icons list*/
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--light-grey);
  -webkit-transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.social__link:hover, .social__link:focus {
  background-color: var(--back-blue);
  fill: var(--white-text);
}

.team {
  background: var(--back-light-grey);
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.team__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.team__item {
  background-color: var(--white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__descriptions {
  padding: 30px 32px;
}

.team__members {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */