// Footer
.footer {
  background-color: var(--back-light-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--logo-white {
  color: var(--white-text);
}

.footer--logo-blue {
  color: var(--back-blue);
}

// Footer address
.footer__contacts-link--white,
.footer__contacts-link {
  display: block;
  font-size: 14px;
  line-height: 1.7;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    @include transition(color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.footer__contacts-link--white {
  color: var(--white-text);
}

.footer__contacts-link {
  color: var(--grey-text-op60);
  @include transition(color);
}

.footer__contacts-item:nth-child(2) {
  margin-top: 20px;
}

@media screen and (min-width: 320px) {
  .footer__contacts-list,
  .footer__contacts-item:nth-child(2) {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts-list,
  .footer__contacts-item:nth-child(2) {
    margin-top: 9px;
  }
}