// Header
.header {
  position: sticky;
  top: -1px;
  z-index: 2;
  
  padding-top: 24px;
  padding-bottom: 25px;
    
  background-color: var(--white-text);
  border-bottom: 1px solid var(--border-light-grey);
}

.header__contact-list {
  display: flex;
  margin-left: auto;
}
  
.header__contact-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__contact-item:not(:last-child) {
  margin-right: 30px;
}
  
.header__contact-link {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  display: flex;
  align-items: center;
  
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--back-blue);
  }
}  
  
.header__contact-icon {
  margin-right: 10px;
}