// About us and our team in index.html
.about-us__title,
.team__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 50px;
}