// Header
.header {
  border-bottom: 1px solid var(--border-light-grey);
  background-color: var(--white-text);
  position: sticky;
  z-index: 2;
  top: -1px;

  @media screen and (max-width: 767px) {
    padding: 10px 0 10px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 21px 0 21px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0 25px 0;
  }
}

.logo {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.header--logo {
  color: rgb(0, 0, 0);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  @media (min-width: $tablet) {
    max-width: 768px;
    height: 80px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.heder__button {
  border: none;
  background-color: var(--white-text);
}

.heder__menu {
  margin-left: auto;
  fill: rgba(0, 0, 0, 1);

  &:hover,
  &:focus {
    fill: var(--back-blue);
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

// Contacts
.header__contact-list {
  display: none;

  @media screen and (min-width: 768px) {
    @include flex-centered(center, flex-start);
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    @include flex-centered(center, center);
    flex-direction: row;
  }
}

.header__contact-link {
  @include flex-centered(center, center);

  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @include transition(color);
  color: var(--grey-text);

  &:hover,
  &:focus {
    color: var(--back-blue);
  }

  @media screen and(min-width:1200px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}

.header__contact-icon {
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.header__contact-icon--phone {
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  margin-right: 10px;
}


.header__contact-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin: 0 0 10px 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 30px 0 0;
  }
}