
// Our projects from portfolio
.portfolio {
  padding: 94px 15px;
}
  
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
  
.filters__item:not(:first-child) {
  margin-left: 8px;
}
  
.filters__button {
  background: var(--back-light-grey);
  color: var(--black-text);
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  
  padding: 6px 22px;
  border-radius: 4px;
  
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    background: var(--back-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
  
.project__list {
  display: flex;
  flex-wrap: wrap;
  
  margin-left: -30px;
  margin-top: -30px;
}
  
.project__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06), 
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
  
.project__content {
  padding: 20px 24px;
  
  border-right: 1px solid var(--border-light-grey2);
  border-bottom: 1px solid var(--border-light-grey2);
  border-left: 1px solid var(--border-light-grey2);
}
  
.project__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
}
  
.project__type {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  
  margin-top: 4px;
}
  
.project__thumb {
  position: relative;
  overflow: hidden;
}