// About us in index.html
.about-us {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width:1200px){
  .about-us {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-us__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 50px;
}

.about-us__list {
  display: flex;
  margin-left: -30px;
}
  
.about-us__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
  
.about-us__thumb {
  position: relative;
  overflow: hidden;
}
  
.about-us__text {
  position: absolute;
  bottom: 0;
  left: 0;
  
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 27px;
  
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  
  background: var(--back-light-black-op80);
}
  