// Advantages
.advantages__list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__thumb {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-light-grey);
}

.advantages__item {
  &:not(:first-of-type) {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - (2 * 30px)) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (4 * 30px)) / 4);
    margin: 15px;
  }
}

.advantages__icons {
  color: var(--black-text);
}

.advantages__description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
}