// Container in index.html and portfolio.html
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 787px) {
    min-width: 320px;
    max-width: 480px;
  }
}