// Regular customers
.customers__list {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.customers__item {
  flex-basis: calc((100% - (2 * 30px)) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - (3 * 30px)) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (6 * 30px)) / 6);
  }
}

.customers__link {
  @include flex-centered(center, center);
  @include transition(fill, border-color);

  max-width: 210px;
  height: 90px;

  @media screen and (min-width: 768px) {
    max-width: 230px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }

  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-grey);
  fill: var(--light-grey);

  &:hover,
  &:focus {
    fill: var(--back-blue);
    border-color: var(--back-blue);
  }
}