// Hero in index.html
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  outline: transparent;
  color: var (--white-text);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../../images/hero/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  &__title {
    color: var(--white-text);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    max-width: 360px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__button {
    background: var(--back-blue);
    color: var(--white-text);
      
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
      
    align-items: center;
    text-align: center;
      
    padding: 10px 32px;
    border-radius: 4px;
    margin-top: 40px;
      
    cursor: pointer;
    transition: color 250ms var(--cubic),
      background-color 250ms var(--cubic);
    
    &:hover,
    &:focus {
      background-color: var(--white-text);
      color: var(--back-blue);
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../../images/hero/hero-mobile-2x.jpg');
  }
}

@media screen and (min-width:480px) and (max-width:767px){
  .hero{
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../../images/hero/hero-tablet.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
    .hero{
      background-image: linear-gradient(
           to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url('../../images/hero/hero-tablet-2x.jpg');
    }
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .hero {
    margin-left: auto;
    margin-right: auto;

    &__title {
      color: var(--white-text);
      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      letter-spacing: 0.06em;
      max-width: 360px;
      margin: 0 auto;
      text-transform: uppercase;
    }
  
    &__button {
      background: var(--back-blue);
      color: var(--white-text);
        
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
        
      align-items: center;
      text-align: center;
        
      padding: 10px 32px;
      border-radius: 4px;
      margin-top: 40px;
        
      cursor: pointer;
      transition: color 250ms var(--cubic),
        background-color 250ms var(--cubic);
      
      &:hover,
      &:focus {
        background-color: var(--white-text);
        color: var(--back-blue);
      }
    }
  }
}

@media screen and (min-width:768px){
  .hero{
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../../images/hero/hero-desktop.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
    .hero{
      background-image: linear-gradient(
           to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../../images/hero/hero-desktop-2x.jpg');
    }
  }
}


@media screen and (min-width:1200px){
  .hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;

    &__title {
      color: var(--white-text);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      max-width: 696px;
      margin: 0 auto;
      text-transform: uppercase;
    }
    

    &__button {
      background: var(--back-blue);
      color: var(--white-text);
        
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
        
      align-items: center;
      text-align: center;
        
      padding: 10px 32px;
      border-radius: 4px;
      margin-top: 30px;
        
      cursor: pointer;
      transition: color 250ms var(--cubic),
        background-color 250ms var(--cubic);
      
      &:hover,
      &:focus {
        background-color: var(--white-text);
        color: var(--back-blue);
      }
    }
  }
}