//  Hero 
.hero__container {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--back-light-black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile.jpg);

    max-width: 480px;
    height: 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: url(../images/hero/hero-mobile-2x.jpg);
      }
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet.jpg);

    max-width: 768px;
    height: 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: url(../images/hero/hero-tablet-2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-desktop.jpg);

    max-width: 1600px;
    height: 600px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: url(../images/hero/hero-desktop-2x.jpg);
      }
    }
  }
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text);
  background-color: var(--back-blue);
  border-radius: 4px;

  @include transition(color, background-color);

  &:hover,
  &:focus {
    color: var(--back-blue);
    background-color: var(--white-text);
  }
}