// Mobile-menu
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  padding: 48px 15px 48px 40px;

  transform: translateX(100%);

  &.is-open {
    transform: translateX(0%);
  }

  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: var(--white-text);

  @include transition(transform);

  @media screen and(min-width:768px) {
    display: none;
  }
}

.mobile-menu__container {
  position: absolute;
  top: 48px;
  left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--white-text);
}

.mobile-menu__close-icon {
  fill: var(--black-text);

  &:focus,
  &:hover {
    fill: var(--back-blue);
  }
}

.mobile__item {
  color: var(--black-text);
  font-size: 40px;
  line-height: 1.18;

  &:not(:first-child) {
    margin-top: 32px;
  }

  &:hover,
  &:focus {
    color: var(--back-blue);
  }
}

.mobile__item--current {
  color: var(--back-blue);
}

.mobile-contacts__phone {
  margin-top: 302px;
  font-size: 34px;
  line-height: 1.18;
  color: var(--back-blue);
}

.mobile-contacts__mail {
  color: var(--grey-text);
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.17;
}

.mobile-contacts__phone,
.mobile-contacts__mail {
  &:hover,
  &:focus {
    color: var(--back-blue);
  }
}

.mobile-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.mobile-social__item {
  color: var(--back-blue);
  font-size: 18px;
  line-height: 1.22;

  &:not(:last-of-type) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
}
