//  Site navigation
.header__navigation {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include transition(color);
  color: var(--black-text);

  &:hover {
    color: var(--back-blue);
  }

  &:focus {
    color: var(--back-blue);
  }
}

//Current link

.nav--current {
  color: var(--back-blue);

  &.nav__link::after {
    opacity: 1;
  }
}

// Navigation link underline

.nav__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;

  display: block;
  height: 4px;
  width: 100%;

  transform: translateY(28px);
  @include transition(opacity);
  background-color: var(--back-blue);
  border-radius: 2px;
  opacity: 0;
}

.nav__linkk:hover {
  &.nav__link::after {
    opacity: 1;
  }
}

// Mobile menu open btn

.header__button {
  margin-left: auto;
  background-color: var(--white-text);

  &:hover,
  &:focus {
    fill: var(--back-blue);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}