// Sections
.hero {
  text-align: center;
}

.team {
  background-color: var(--back-light-grey)
}

.customers,
.portfolio,
.team,
.advantages,
.about-us {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.customers,
.portfolio,
.team,
.about-us {
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages {
  @media screen and(min-width:1200px) {
    padding-top: 94px;
  }
}
