// Subscribe form 
.subscribe-form {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe-form__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.subscribe-form__input {
  display: block;

  margin-top: 20px;
  width: 100%;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  color: var(--grey-text-op60r);
  background-color: var(--back-light-black);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  @include transition(border-color);

  &:focus-within,
  &:hover {
    border-color: var(--back-blue);
  }

  @media screen and (min-width: 768px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__btn {
  display: flex;
  align-items: center;
  margin: 20px auto 0 auto;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--white-text);
  background-color: var(--back-blue);
  border-radius: 4px;

  @include transition(color, background-color);

  &:focus,
  &:hover {
    background-color: var(--white-text);
    color: var(--back-blue);
  }
}

.subscribe-form__icon {
  margin-left: 10px;
}