// Our team
.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  border-radius: 4px;
  box-shadow: 00px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-text);

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
    flex-basis: calc((100% - (4 * 15px)) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    flex-basis: calc((100% - (6 * 15px)) / 4);
    margin: 15px;
  }
}

.team__descriptions {
  text-align: center;
  padding-top: 30px;
  @media screen and (max-width: 1999px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team__member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black-text);
}

.team__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
}

// Team social links

.social__list {
  display: flex;

  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.social__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  @include flex-centered(center, center);
  @include transition(fill, background-color);

  width: 44px;
  height: 44px;
  fill: var(--light-grey);
  border-radius: 50%;

  @media screen and (min-width: 1200px) {
    &:hover,
    &:focus {
      background-color: var(--back-blue);
      fill: var(--white-text);
    }
  }
}